# Node modules
node_modules/

# Build output
dist/
.vite/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Miscellaneous
*.tgz
*.zip
*.tar
*.gz
*.rar

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
tmp/
temp/
